# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
*.swp
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# VSCode
.vscode/
*.code-workspace
.history/

# Node.js (por si usas JavaScript)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Otros comunes
.env
*.log
